.mainConteiner {
    height: 100%;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .wrapper {
        flex-direction: column;
        height: auto;
    }
}